extends layout

block content
  
  h1 Recently Mentioned
  div(class="recentGamesWrapper")
    div(class="recentGamesWrapperInner")


  div(class = "gameTableWrapper")
    h1 Games List
    div(class="gameSearchBar")
        input(type="text" id="myInput" onkeyup="searchGames()" placeholder="Search for games..")

  table(class="sortable gamesTable", id="frontPageGamesTable")
    thead 
      tr(class="header")
        th Game
        th Most Recent Mention 
        th(id="gameTableDate") Date Mentioned 
        th Total Mentions
    tbody.gamesTableBody
  
  script(src='/javascripts/index_script.js')