doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/sorttable.js"></script>
  body
    div.content-wrapper
      div.logo-container 
        a(href='/')
          img(class="hero-logo" src='/images/logo.png')

      block content
    